// app global css
.title-brand
  color: $blue-grey-1

.title-brand-2
  color: $blue-10

.text-brand
  color: $blue-grey-10

.text-anti-primary
  color: $blue-grey-1

.link-brand
  color: $indigo-1
  font-weight: bold

.link-brand-2
  color: $indigo-2